*{
    font-family: sans-serif;
    padding: 0px; 
    margin: 0px;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(98, 0, 130);
    height: 80px;
    
    
}

h1{
    font-size: 40px;
    color: white;
    margin-left: 10px;
}

nav{
    font-size: 20px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#produtos {
    display:flex;
    justify-content:space-around;
    align-items:baseline;
    
}
#cesto{
    
    display:flex;
    justify-content:space-around;
    align-items:baseline;
    background-color: rgba(98, 0, 130, 0.253);
}
#custo-total {
    width: 100%; 
    text-align: center; 
    margin-top: 10px; 
    font-weight: bold; 
    font-size: 1.2em; 
}

.box{
    
    
    background-color: #c2bfbf60;
    border: 1px solid rgba(0, 0, 0, 0.505);;  
    border-radius: 5px;
    padding: 10px; 
    margin: 100;
    box-shadow: 0 3px 6px rgba(70, 70, 70, 0.505);; 
    border-radius: 10px;
        
}




.titulo{
    font-size: 14px;
    display:flex;
    justify-content:center;
    align-items:center
}

.article{
    display:grid;
    justify-content: center;
    
    
    background-color: rgb(255, 255, 202);
    width: 250px;
    height:470px;
    margin: 10px;
    box-shadow: 0 5px 6px rgba(70, 70, 70, 0.505);
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
    padding: 15px;
}
.article2{
    display:grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 202);
    width: 250px;
    height: 200px;
    margin: 10px;
    box-shadow: 0 5px 6px rgba(70, 70, 70, 0.505);
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
    padding: 15px;
}
.img{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: 75px;
}
.img2{
    margin-left: 40px;
    margin-right: 40px;
    
}
.p2{
    font-size: 13px;
}
.p1{
    font-size: 17px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.produtosOrganizados{
    display: flex; 
    flex-wrap:wrap; 
    justify-content: space-between; 
    margin: 0 auto; 
    width: fit-content;
    padding: 100px;
    

}

.boxFiltro{
    display: flex;
    justify-content:center;  /* Alinha os itens à esquerda */
    align-items: center;
    gap: 40px;
    background-color: gray;
    margin-top: 0px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}




