*{
    font-family: sans-serif;
    padding: 0px; 
    margin: 0px;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(98, 0, 130);
    height: 80px;
    
    
}

h1{
    font-size: 40px;
    color: white;
    margin-left: 10px;
}

nav{
    font-size: 20px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


#produtos {
    display:flex;
    justify-content:space-around;
    align-items:baseline;
    
}
#cesto{
    
    display: flex;
    flex-wrap: wrap; /* Permite que os produtos "quebrem" para a próxima linha, se necessário */
    gap: 10px; /* Espaço entre os produtos */
    justify-content: flex-start; /* Alinha os produtos à esquerda */
    align-items: flex-start; /* Garante alinhamento superior */
    position: relative; /* Para posicionar o custo total abaixo */
    background-color: rgb(98, 0, 130);
}
#custo-total {
    width: 100%; 
    text-align: center; 
    margin-top: 10px; 
    font-weight: bold; 
    font-size: 1.2em; 
}

.box{
    
    
    background-color: #c2bfbf60;
    border: 1px solid rgba(0, 0, 0, 0.505);;  
    border-radius: 5px;
    padding: 10px; 
    margin: 100;
    box-shadow: 0 3px 6px rgba(70, 70, 70, 0.505);; 
    border-radius: 10px;
        
}




.titulo{
    font-size: 14px;
    display:flex;
    justify-content:center;
    align-items:center
}

.article{
    background-color: rgb(255, 255, 202);
    width: 200px;
    height:290px;
    margin: 10px;
    box-shadow: 0 5px 6px rgba(70, 70, 70, 0.505);
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
    padding: 15px;
}
.img{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: 40px;
}
.p2{
    font-size: 5px;
}
.p1{
    font-size: 17px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.produtosOrganizados{
    display: flex; /* Use flexbox for side-by-side layout */
    flex-wrap:wrap; /* Wrap items to the next line when full */
    justify-content: space-between; /* Distribute space evenly between items */
    margin: 0 auto; /* Center the container horizontally */
    width: fit-content; /* Allow container to adjust to product width */
    /* Optional: Add padding/margin for spacing between container and edges */
    padding: 40px
}

.button{
    margin-left: 25px;
    padding: 3px;   
}




