table {
    width: 50%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid rgb(245, 93, 93);
    padding: 8px;
    text-align: left;
}
th {
    background-color: #e0bcbc;
}


a {
color: black; /* Muda a cor do link */

}
a:hover {
    color: blue; /* Muda a cor do link ao passar o rato */
}

.info_title {
    /* Estilos para o título da cidade */
    font-size: 35px;
    color: #1b0c0c;
    font-family : cursive;
    
}