* {box-sizing: border-box; padding: 5px; margin: 5px;}
header{ grid-area: header-area; }
aside{ grid-area: aside-area; }
main{ grid-area: main-area; }
footer{ grid-area: footer-area; }
body {
    display: grid;
    grid-template-columns: 50% 50% ; /* Largura das colunas */
    grid-template-rows: 130px 130px; /* Altura das linhas */
    grid-template-areas:
        'header-area header-area '
        'main-area aside-area'
        'main-area aside-area'
        'footer-area footer-area' ;

    background-color: black;
        
    
}

h1{
    background-color: rgb(189, 189, 189);
    height: 100px;
    display:flex;
    justify-content: left;
    align-items:center;
    padding: 20px;

}

.interfaces{
    background-color: white;
    border-radius: 10px;

}
.introducao{
    background-color: white;
    border-radius: 10px;
}
.imagem img{
    height: 90px;
    width: 90px;
    
    

}
.imagem {
    background-color: white;
    border-radius: 10px;
    height:140px;

}
.lab1{ grid-area: lab1-area; }
    .lab2{ grid-area: lab2-area; }
    .lab3{ grid-area:lab3-area; }
    .lab4{ grid-area: lab4-area; }
    .lab5{grid-area: lab5-area; }
    .lab6{grid-area: lab6-area; }
nav{
    background-color: white;
    border-radius: 10px;
    height: 200px;
}
nav a:nth-child(2n + 1){
    background-color: rgb(180, 180, 180)
}
nav a{
    
    background-color: white;
    border-radius: 10px;
    height: 20px;
    display: grid;
    grid-template-columns: 50% 50% 50%; /* Largura das colunas */
    grid-template-rows: 10px 10px 1fr; /* Altura das linhas */
    grid-template-areas:
        'lab1-area lab2-area lab3-area'
        'lab4-area lab5-area lab6-area;
    

    
}