* {box-sizing: border-box; padding: 0; margin: 0;}

.dropbtn {
  display: none; 
}

.dropdown{
  height: 8vh;
  top: 0;
  padding: 10px;
  margin: 0px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}
.menu {
  display: none; /* Escondido em telas maiores */
}
.text_phone{
  display: none;
}

/*telemoveis*/

@media (max-width: 800px){

  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    max-width: 100%; 
  }
  form{
    margin: 10px; 
    max-width: 100%; 
  }
  .caixa_ordenada{
    font-size: 14px;
  }

  .links a{
    font-size: 14px;
    text-decoration:underline;

  }
  

  .city_title{
    font-size: 60px;
    background-color: #0000006c;
    text-transform: uppercase;
    display: flex; 
    justify-content: center;
  }
  .titles{
    font-size: 30px;
    background-color: #0000006c;

}
  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    background-color: #ffffff; /* Fundo claro */
    color: #333; /* Cor do texto */
    display: flex;
    flex-direction: column;
    height: 100vh; /* Para ocupar a altura total da tela */
    overflow-x: hidden;
  }

  header {
      background-color: #ffffff; /* Cor de fundo do cabeçalho */
      color: white; /* Cor do texto do cabeçalho */
      padding: 20px;
      text-align: center;
      
  }
 
  main {
      flex: 1; /* Permite que o main expanda para preencher o espaço disponível */
      padding: 20px; /* Espaçamento interno */
  }

  footer {
      
      text-align: center;
      padding: 10px 0; /* Espaçamento interno */
  }

  /*index*/

  nav{
    height: 50px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    
    display: flex;
    justify-content: center;
    font-size: 20px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(237, 178, 0, 0.505);
    z-index: 1;
    margin-top: 20px;
    left: 50%;
    
    
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(237, 178, 0, 0.505);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  .menu {
    display: flex; /* Mostra o botão de menu */
    justify-content: center;
    position:static;
    color: rgb(0, 0, 0);
    padding: 0px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    
  }

  nav a{

    font-size: 16px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;

  }
  .aside {
    h2{
      font-size: 18px;
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
    div a{
      font-size: 16px;
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
  }

  /*multimedia*/
  #fotografias img {
    width: 80px; /* Reduz a largura das imagens */
    height: 60px; /* Ajusta a altura das imagens */
  }

  #fotografias iframe {
      width: 100%; /* O iframe ocupará toda a largura disponível */
      height: 250px; /* Diminui a altura do iframe para caber melhor */
  }

  #fotografias {
      padding: 10px; /* Adiciona um pouco de espaço ao redor da seção */
  }

  #video {
    display: flex;
    flex-direction: column;
    
    padding: 10px;
  }

  #video iframe {
      width: 100%;
      max-width: 560px; /* Limita a largura máxima do vídeo */
      height: auto;
      aspect-ratio: 16 / 9; /* Mantém a proporção 16:9 do vídeo */
  }

    .caixa_title {
      display: flex;              
      justify-content: center;    /* Centraliza horizontalmente */
      align-items: center;        /* Centraliza verticalmente  */
      padding: 10px;             /* Adiciona um espaço interno */
  }

  .links {
      display: flex;              /* Habilita o flexbox para os links */
      justify-content: center;    /* Centraliza os links horizontalmente */
      gap: 0px; 
      font-size: 14px;                /* Espaço entre os links */
  }

  /*pontos de interesse*/
  .text_phone{
    display: flex;
  }
  .text_complete{
    display: none;
  }

 
  .caixa_title{
    font-size: 16px;
    max-width: 100%;
  }

  .home{
    font-size: 14px;
    max-width: 100%;
  }
  
  

  
}

/*telemovel em pe*/
@media (orientation: portrait) {

  /*index*/
  .container {
    display: flex; /* Usando flexbox para alinhar as imagens */
    flex-direction: column; /* Coloca as imagens em coluna */
    gap: 10px; /* Espaço entre as imagens */
    padding: 10px;
  }
  
  .box{
    width: 360px;
    height: 300px ;
    background-color: transparent;
  }

  .box img {
    width: 360px; /* Faz as imagens ocuparem 100% da largura da tela */
    height: 300; /* Mantém a proporção original */
  }

  /*info*/

    .table {
      flex-direction: column; /* Alinha os elementos em coluna */
      align-items: center; /* Centraliza os itens */
  }

  .table table {
      width: auto; /* Define a largura automática para evitar que a tabela ultrapasse a tela */
      display: block; /* Permite que o contêiner seja rolável */
      overflow-x: auto; /* Habilita a rolagem horizontal, se necessário */
  }

  .table th, .table td {
      font-size: 16px; /* Reduz o tamanho da fonte em modo retrato */
      padding: 10px; /* Aumenta o padding para um toque mais amigável */
      min-width: 80px; /* Largura mínima das células */
      max-width: 150px; /* Largura máxima das células para evitar que o conteúdo estoure */
  }

  .table tr {
      display: table-row; /* Define que as linhas são do tipo tabela */
  }
  /*multimedia*/
  .poema_text pre {
    
    display: grid;
    justify-content:right;
    font-size: 14px; /* Diminui o tamanho da fonte para melhor visualização em telas pequenas */
    
    
  }
  
  


}

/*telemovel deitado*/
/*tablets*/

@media (orientation:landscape) {
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    max-width: 100%; 
  }
  form{
    margin: 10px; 
    max-width: 100%; 
  }
  .caixa_ordenada{
    font-size: 14px;
  }

  .links a{
    font-size: 14px;
    text-decoration:underline;

  }
  

  .city_title{
    font-size: 60px;
    background-color: #0000006c;
    text-transform: uppercase;
    display: flex; 
    justify-content: center;
  }
  .titles{
    font-size: 30px;
    background-color: #0000006c;

}
  body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    background-color: #ffffff; /* Fundo claro */
    color: #333; /* Cor do texto */
    display: flex;
    flex-direction: column;
    height: 100vh; /* Para ocupar a altura total da tela */
    overflow-x: hidden;
  }

  header {
      background-color: #ffffff; /* Cor de fundo do cabeçalho */
      color: white; /* Cor do texto do cabeçalho */
      padding: 20px;
      text-align: center;
      
  }
 
  main {
      flex: 1; /* Permite que o main expanda para preencher o espaço disponível */
      padding: 20px; /* Espaçamento interno */
  }

  footer {
      
      text-align: center;
      padding: 10px 0; /* Espaçamento interno */
  }

  /*index*/

  nav{
    height: 50px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    
    display: flex;
    justify-content: center;
    font-size: 20px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(237, 178, 0, 0.505);
    z-index: 1;
    margin-top: 20px;
    left: 50%;
    
    
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgba(237, 178, 0, 0.505);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  .menu {
    display: flex; /* Mostra o botão de menu */
    justify-content: center;
    position:static;
    color: rgb(0, 0, 0);
    padding: 0px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent; 
    font-family:Georgia, 'Times New Roman', Times, serif;
    
  }

  nav a{

    font-size: 16px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;

  }
  .aside {
    h2{
      font-size: 18px;
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
    div a{
      font-size: 16px;
      font-family:Georgia, 'Times New Roman', Times, serif;
    }
  }

  /*multimedia*/
  #fotografias img {
    width: 80px; /* Reduz a largura das imagens */
    height: 60px; /* Ajusta a altura das imagens */
  }

  #fotografias iframe {
      width: 100%; /* O iframe ocupará toda a largura disponível */
      height: 250px; /* Diminui a altura do iframe para caber melhor */
  }

  #fotografias {
      padding: 10px; /* Adiciona um pouco de espaço ao redor da seção */
  }

  #video {
    display: flex;
    flex-direction: column;
    
    padding: 10px;
  }

  #video iframe {
      width: 100%;
      max-width: 560px; /* Limita a largura máxima do vídeo */
      height: auto;
      aspect-ratio: 16 / 9; /* Mantém a proporção 16:9 do vídeo */
  }

    .caixa_title {
      display: flex;              
      justify-content: center;    /* Centraliza horizontalmente */
      align-items: center;        /* Centraliza verticalmente  */
      padding: 10px;             /* Adiciona um espaço interno */
  }

  .links {
      display: flex;              /* Habilita o flexbox para os links */
      justify-content: center;    /* Centraliza os links horizontalmente */
      gap: 0px; 
      font-size: 14px;                /* Espaço entre os links */
  }

  /*pontos de interesse*/
  .text_phone{
    display: flex;
  }
  .text_complete{
    display: none;
  }

 
  .caixa_title{
    font-size: 16px;
    max-width: 100%;
  }

  .home{
    font-size: 14px;
    max-width: 100%;
  }
  
  

}











